html {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    line-height: 1;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 20px;
}

.app-header {
    background-color: #224;
    color: #fff;
    padding-block: 12px;

    nav {
        display: flex;
        align-items: center;
        gap: 24px;

        a {
            color: #fff;
            text-decoration: none;

            &.active {
                color: orange;
            }
        }
    }
}


.app-content {
    margin-block: 20px;
}
